<!DOCTYPE html>
{%- if not lang -%}
  {%- set lang = site.locale -%}
{%- endif %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ lang }}" xml:lang="{{ lang }}"{% if page.dir %} dir="{{ dir }}"{% endif %}>
<head  profile="http://dublincore.org/specifications/dublin-core/dc-html/2008-08-04/">
{% block htmlhead -%}
  {% include "partials/head.njk" %}
{%- endblock %}
<script src="/assets/lunr/lunr.min.js"></script>
<script src="/assets/js/search.js"></script>
</head>
<body>
{%- block nav %}
  {% include "partials/nav.njk" %}
{%- endblock %}

{%- block pagetitle %}
{%- if header %}
  {% include "partials/hero.njk" %}
{%- else %}
<div class="container py-5">
  <h1 class="display-1">
    {%- if title %}{{ title | safe }}{%- else %}{{ site.title }}{%- endif %}
    {%- if subtitle %}
    <span class="subtitle d-block h-3">
      {{ subtitle | safe  }}
    </span>
    {%- endif %}
  </h1>
  {%- if (description and not excerpt) %}{%- set excerpt = description %}{%- endif %}
  {%- if excerpt %}
  <p class="lead">
    {{ excerpt | safe }}
  </p>
  {%- endif %}
</div>
{%- endif %}
{%- endblock %}

<main>
{%- if sidebar.nav %}
  <small class="d-md-none mb-5">
    <a class="btn btn-outline-secondary" href="#sidebar">{{ ui_text[lang].skip_primary_nav }}</a>
  </small>
{%- endif %}
<div id="main" class="container{% if sidebar or author_profile %} has-sidebar{% endif %}">
  <div{% if conformsTo %} itemscope itemtype="{{ conformsTo }}"{% endif %} class="row{% if classes %} {{ classes }}{% endif %}">
  {%- block pagecontent %}
  {%- if page.url != "/" and site.breadcrumbs %}
    {%- include "partials/breadcrumb.njk" %}
  {%- endif %}
    <article>
      {{ content | safe }}
    </article>
  {%- endblock %}
  </div><!-- /itemscope -->
</div><!-- /#main -->
{%- if sidebar or author_profile %}
<div class="sidebar" id="sidebar">
  <a class="d-md-none" href="#main">{{ ui_text[lang].skip_content }}</a>
  {%- include "partials/sidebar.njk" -%}
</div><!-- /.sidebar -->
{%- endif %}
</main>

{% block archive %}
{% endblock %}

{% block after %}
{% endblock %}

{% block pagefooter -%}
{% include "partials/footer.njk" %}
{%- endblock %}
</body>
</html>
