{% extends "layouts/base.njk" %}

{%- block nav %}
<div class="page__hero--overlay splash d-flex flex-column w-100 h-100">
  <header>
  {% set splash = true %}
  {% include "partials/nav.njk" %}
  </header>
{%- endblock %}

{%- block pagetitle %}
<style>
.page__hero--overlay {
  background-image:
    {%- if header.overlay_filter -%}
    linear-gradient(rgba(255, 255, 255, {{ header.overlay_filter }}),
                    rgba(255, 255, 255, {{ header.overlay_filter }})),
    {%- endif -%}
    url('{{ header.overlay_image | htmlBaseUrl }}');
  @media(prefers-color-scheme: dark) {
    background-image:
      {%- if header.overlay_filter -%}
      linear-gradient(rgba(0, 0, 0, {{ header.overlay_filter }}),
                      rgba(0, 0, 0, {{ header.overlay_filter }})),
      {%- endif -%}
      url('{{ header.overlay_image | htmlBaseUrl }}');
  }
}
</style>

  <div class="container py-5 h-100 d-flex align-self-stretch flex-column justify-content-center align-items-center">
    <h1 class="display-1 text-center w-100">
      {% if title %}{{ title | safe }}{% else %}{{ site.title }}{% endif %}
      {% if subtitle -%}
      <span class="subtitle hero__subtitle d-block">
        {{ subtitle | safe }}
      </span>
      {%- endif %}
    </h1>
    {% if ( description and not excerpt ) %}{% set excerpt = description %}{% endif %}
    {% if excerpt %}<div class="lead text-center">
      {{ excerpt | safe }}
    </div>{% endif %}
    {% if header.cta_url %}
      <p><a href="{{ header.cta_url }}" class="btn btn--light-outline btn--large">{{ header.cta_label }}</a></p>
    {% endif %}
    {% if header.actions %}
      <p class="action">
      {% for action in header.actions %}
      <a href="{{ action.href }}"{% if action.btn_class %} class="my-3 btn {{ action.btn_class }}"{% endif %}>
        {{ action.label | safe }}
      </a>
      {% endfor %}
    {% endif %}
    <div id="search" role="search" class="my-3 mx-auto align-self-center"></div>
  </div>
  <p class="action mt-auto mb-1 align-self-center">
    <a href="#initial-scroll" class="skip-hero my-3 link-secondary link-opacity-75 link-opacity-50-hover icon-link icon-link-hover display-1">
      <i class="bi bi-chevron-double-down"></i>
    </a>
  </p>
  {% if header.caption -%}
  <figcaption class="align-self-end align-self-bottom hero__caption">
    {{ header.caption | safe }}
  </figcaption>
  {%- endif %}
</div>
<a name="initial-scroll"></a>
{%- endblock %}
